@model IEnumerable<FPTBookStore.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h2>Author index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@*Filter form *@
<form asp-controller="Author" asp-action="Index">
    <p>
        Author name : <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Author Name
            </th>
            <th>
                Description
            </th>
            <th>
                Image
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reverse())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@item.Image" alt="Author's picture" height="180px">
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AuthorId"><i class="fa-solid fa-pen-to-square" style="color: #588157;"></i></a>
                    <a asp-action="Details" asp-route-id="@item.AuthorId"><i class="fa-solid fa-circle-info" style="color: #219ebc;"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.AuthorId"><i class="fa-solid fa-trash" style="color: #e63946;"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
