@model FPTBookStore.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author.AuthorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pages)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            <img src="@Model.Image" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookId" class="btn btn-info">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
